<div class="background">
  <img src="{{ absURL "/img/Hintergrund.png" }}" alt="background" />
</div>

<ul class="language-list">
  {{ range $.Site.Home.AllTranslations }}
    <li><a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a></li>
  {{ end }}
</ul>

<div class="contacts">
  <p class="location">
    Steuer.Beratung.Rieder | Hochfeld 241 | 5721 Piesendorf
  </p>
  <p>
    <a href="tel:+43 (0) 664 / 55 44 056">Mobil: +43 (0) 664 / 55 44 056</a> |
    <a href="mailto:office@steuerberatung-rieder.at"
      >office@steuerberatung-rieder.at</a
    >
    |
    <a href="https://www.steuerberatung-rieder.at/"
      >www.steuerberatung-rieder.at</a
    >
  </p>
  <p class="copyright">Copyrights © 2024 Steuerberatung Rieder</p>
</div>
