<div class="socialMedia">Facebook etc</div>
<div class="images">
  <img src="https://placehold.co/190x190" alt="a placeholder" />
  <img src="https://placehold.co/190x190" alt="a placeholder" />
  <img src="https://placehold.co/190x190" alt="a placeholder" />
  <img src="https://placehold.co/190x190" alt="a placeholder" />
  <img src="https://placehold.co/190x190" alt="a placeholder" />
  <img src="https://placehold.co/190x190" alt="a placeholder" />
</div>
<div class="contacts">
  <p>Steuer.Beratung.Rieder | Hochfeld 241 | 5721 Piesendorf</p>
  <p>
    Mobil: +43 (0) 664 / 55 44 056 | office@steuerberatung-rieder.at |
    www.steuerberatung-rieder.at
  </p>
</div>
