<div class="banner_2">
  <img
    sizes="(max-width: 2240px) 100vw, 2240px"
    srcset="
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_190.png" }}  190w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_403.png" }}  403w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_553.png" }}  553w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_686.png" }}  686w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_801.png" }}  801w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_904.png" }}  904w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_985.png" }}  985w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1068.png" }} 1068w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1148.png" }} 1148w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1221.png" }} 1221w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1288.png" }} 1288w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1357.png" }} 1357w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1425.png" }} 1425w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1487.png" }} 1487w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1543.png" }} 1543w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1602.png" }} 1602w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1656.png" }} 1656w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1717.png" }} 1717w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1766.png" }} 1766w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1828.png" }} 1828w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1871.png" }} 1871w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1922.png" }} 1922w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1971.png" }} 1971w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2019.png" }} 2019w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2046.png" }} 2046w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2086.png" }} 2086w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2137.png" }} 2137w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2174.png" }} 2174w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2211.png" }} 2211w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2240.png" }} 2240w
    "
    src="{{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale,w_2240.png" }}"
  loading="lazy"
    alt="main banner"
    class="bg_banner mitblatt"
  />
  
  <img
  loading="lazy"
  alt="main banner"
  class="bg_banner blattlos"
  sizes="(max-width: 2240px) 100vw, 2240px"
  src="{{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_2240.png" }}" 

  srcset="
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_190.png" }} 190w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_400.png" }} 400w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_550.png" }} 550w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_676.png" }} 676w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_795.png" }} 795w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_897.png" }} 897w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_976.png" }} 976w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1056.png" }} 1056w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1142.png" }} 1142w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1215.png" }} 1215w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1283.png" }} 1283w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1355.png" }} 1355w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1422.png" }} 1422w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1479.png" }} 1479w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1527.png" }} 1527w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1588.png" }} 1588w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1649.png" }} 1649w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1703.png" }} 1703w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1764.png" }} 1764w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1809.png" }} 1809w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1856.png" }} 1856w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1907.png" }} 1907w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_1960.png" }} 1960w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_2004.png" }} 2004w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_2040.png" }} 2040w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_2070.png" }} 2070w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_2126.png" }} 2126w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_2163.png" }} 2163w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_2221.png" }} 2221w,
  {{ absURL "/img/hintergrund/Hintergrund_blattlos_ftvfa5_c_scale_w_2240.png" }} 2240w"
>
  
  <img
    src="{{ absURL "/img/gut_leben_final.svg" }}"
    alt="Zahlen Zeit Zufriedenheit Banner"
    class="text_banner_v2"
  />
</div>
