<div class="banner_2">
  <img
    sizes="(max-width: 2240px) 100vw, 2240px"
    srcset="
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_190.png" }}  190w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_403.png" }}  403w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_553.png" }}  553w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_686.png" }}  686w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_801.png" }}  801w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_904.png" }}  904w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_985.png" }}  985w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1068.png" }} 1068w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1148.png" }} 1148w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1221.png" }} 1221w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1288.png" }} 1288w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1357.png" }} 1357w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1425.png" }} 1425w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1487.png" }} 1487w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1543.png" }} 1543w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1602.png" }} 1602w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1656.png" }} 1656w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1717.png" }} 1717w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1766.png" }} 1766w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1828.png" }} 1828w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1871.png" }} 1871w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1922.png" }} 1922w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_1971.png" }} 1971w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2019.png" }} 2019w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2046.png" }} 2046w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2086.png" }} 2086w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2137.png" }} 2137w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2174.png" }} 2174w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2211.png" }} 2211w,
      {{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale_w_2240.png" }} 2240w
    "
    src="{{ absURL "/img/hintergrund/Hintergrund_kg91os_c_scale,w_2240.png" }}"
    alt="main banner"
    class="bg_banner"
  />
  <img
    src="{{ absURL "/img/zzz_Text_de.png" }}"
    alt="Zahlen Zeit Zufriedenheit Banner"
    class="text_banner"
  />
</div>
