body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: #eef0ef;
}

footer {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Times New Roman", Times, serif;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  max-width: 86rem;
  padding: 2rem;
  margin: 2rem;
}
