@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src:
    local("Barlow"),
    url("/fonts/barlow/woff2/Barlow-Regular.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-Regular.woff") format("woff");
}

/* Regular styles */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 100;
  src:
    local("Barlow ExtraLight"),
    url("/fonts/barlow/woff2/Barlow-ExtraLight.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-ExtraLight.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 200;
  src:
    local("Barlow Light"),
    url("/fonts/barlow/woff2/Barlow-Light.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-Light.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 300;
  src:
    local("Barlow Medium"),
    url("/fonts/barlow/woff2/Barlow-Medium.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-Medium.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  src:
    local("Barlow SemiBold"),
    url("/fonts/barlow/woff2/Barlow-SemiBold.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 600;
  src:
    local("Barlow Bold"),
    url("/fonts/barlow/woff2/Barlow-Bold.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-Bold.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  src:
    local("Barlow ExtraBold"),
    url("/fonts/barlow/woff2/Barlow-ExtraBold.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 800;
  src:
    local("Barlow Black"),
    url("/fonts/barlow/woff2/Barlow-Black.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-Black.woff") format("woff");
}

/* Italic styles */
@font-face {
  font-family: "Barlow";
  font-style: italic;
  font-weight: 100;
  src:
    local("Barlow ExtraLight Italic"),
    url("/fonts/barlow/woff2/Barlow-ExtraLightItalic.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-ExtraLightItalic.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: italic;
  font-weight: 200;
  src:
    local("Barlow Light Italic"),
    url("/fonts/barlow/woff2/Barlow-LightItalic.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: italic;
  font-weight: 300;
  src:
    local("Barlow Medium Italic"),
    url("/fonts/barlow/woff2/Barlow-MediumItalic.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: italic;
  font-weight: 400; /* Regular Italic */
  src:
    local("Barlow Italic"),
    url("/fonts/barlow/woff2/Barlow-Italic.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-Italic.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: italic;
  font-weight: 500;
  src:
    local("Barlow SemiBold Italic"),
    url("/fonts/barlow/woff2/Barlow-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-SemiBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: italic;
  font-weight: 600;
  src:
    local("Barlow Bold Italic"),
    url("/fonts/barlow/woff2/Barlow-BoldItalic.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: italic;
  font-weight: 700;
  src:
    local("Barlow ExtraBold Italic"),
    url("/fonts/barlow/woff2/Barlow-ExtraBoldItalic.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-ExtraBoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Barlow";
  font-style: italic;
  font-weight: 800;
  src:
    local("Barlow Black Italic"),
    url("/fonts/barlow/woff2/Barlow-BlackItalic.woff2") format("woff2"),
    url("/fonts/barlow/woff2/Barlow-BlackItalic.woff") format("woff");
}

body {
  font-family: "Barlow", sans-serif;
  min-height: 100vh;
  background-color: #eef0ef;
}

footer {
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  /* max-width: 86rem; */
  max-width: 44rem;
  padding: 2rem;
  margin: 2rem;
}

.zzzMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* max-width: calc(86rem + 8rem); */
  max-width: calc(44rem + 8rem);
}

.zzzMenu ul {
  width: 100%;
  margin: 2rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.zzzMenu ul .container {
  margin: 0;
  font-size: 1.2em;
  text-align: center;
  padding: 1rem;
}

.zzzMenu .container img {
  margin-bottom: 1em;
}
