footer {
  background-color: #88b443;
  color: white;
  text-align: center;
  padding-block: 1rem;
  position: relative;

  a {
    color: white;
  }

  .background {
    position: absolute;
    inset: 0;
    overflow: hidden;
  }

  .background::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #77a914; /* Your desired color */
    mix-blend-mode: multiply;
  }

  .background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 30%;
  }

  .language-list {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .language-list li:nth-child(n + 2):before {
    content: "|";
    padding-inline: 0.3rem;
  }

  .contacts {
    position: relative;
    z-index: 1;

    .location {
      margin-block: 1rem;
    }

    .copyright {
      font-size: smaller;
      margin-top: 0.2rem;
      margin-bottom: 1rem;
    }
  }
}
