.mainMenu {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: end;
}

.mainMenu nav {
  width: 50%;
  height: fit-content;
}

.mainMenu nav ul {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  align-items: flex-end;
}

.mainMenu nav li {
  padding-bottom: 2rem;
}

.mainMenu nav a {
  font-size: larger;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
}

.mainMenu nav a.active {
  color: #77a914;
}

.mainMenu nav a:hover {
  color: #88b443;
}

.mainMenu .mainLogo {
  display: none;
}

.mainMenu .mainLogoSmall {
  display: none;
}

.mainMenu .desktopMenu {
  display: contents;
}

.mainMenu .change_lang {
  color: black;
  background-color: white;
  text-decoration: none;
  border: none;
  height: fit-content;
  width: fit-content;
  margin-block: auto;
  cursor: pointer;
  font-size: larger;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  text-transform: uppercase;
}

.mainMenu .change_lang:hover {
  background-color: #f0f0f0;
  color: #88b443;
}

.mainMenu .change_lang svg {
  fill: currentColor;
  width: 1.6em;
  height: 1.6em;
}

.mainMenu .mobileBurger {
  display: none;
  background-color: white;
  color: black;
  text-decoration: none;
  border: none;

  /* aspect-ratio: 1; */
  cursor: pointer;
  font-size: larger;
  font-weight: 500;
  font-family: "Barlow", sans-serif;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.mainMenu .mobileBurger:hover {
  background-color: #f0f0f0;
  color: #88b443;
}
.mainMenu .mobileBurger:active {
  background-color: #f0f0f0;
  color: #77a914;
}

.mainMenu .mobileBurger svg {
  fill: currentColor;
  width: 1.6em;
  height: 1.6em;
}

.mobileMenu {
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 719px) {
  /* Styles for smaller screens */
  .mainMenu {
    justify-content: space-between;
    align-items: stretch;
  }

  .mainMenu .mainLogo {
    display: block;
    max-width: calc(100% - 5rem);
  }

  .mainMenu .desktopMenu {
    display: none;
  }
  .mainMenu .mobileBurger {
    display: flex;
  }
  .mainMenu .change_lang {
    display: none;
  }
}

/* Media query for screens between 768px and 1079px */
@media only screen and (min-width: 720px) and (max-width: 1079px) {
  /* Styles for large screens */
  .mainMenu .mainLogoSmall {
    display: block;
  }
  .mainMenu nav {
    width: 70%;
  }
}

/* Media query for screens larger than 1200px */
@media only screen and (min-width: 1080px) {
  .mainMenu .mainLogo {
    display: block;
  }
}
