.mainMenu {
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: end;

  nav {
    width: 50%;
    height: fit-content;

    ul {
      display: flex;
      height: 100%;
      justify-content: space-evenly;
      align-items: flex-end;
    }

    li {
      padding-bottom: 2rem;
    }

    a {
      font-size: larger;
      color: black;
      font-weight: 500;
      text-transform: uppercase;
    }

    a.active {
      color: #77a914;
    }

    a:hover {
      color: #88b443;
    }
  }

  .mainLogo {
    display: none;
  }

  .mainLogoSmall {
    display: none;
  }

  .desktopMenu {
    display: contents;
  }

  .change_lang {
    color: black;
    background-color: white;
    text-decoration: none;
    border: none;
    height: fit-content;
    width: fit-content;
    margin-block: auto;
    cursor: pointer;
    font-size: larger;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    text-transform: uppercase;

    :hover {
      background-color: #f0f0f0;
      color: #88b443;
    }

    svg {
      fill: currentColor;
      width: 1.6em;
      height: 1.6em;
    }
  }

  .mobileBurger {
    display: none;
    background-color: white;
    color: black;
    text-decoration: none;
    border: none;

    /* aspect-ratio: 1; */
    cursor: pointer;
    font-size: larger;
    font-weight: 500;
    font-family: "Barlow", sans-serif;
    flex: 1;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: #f0f0f0;
      color: #88b443;
    }
    &:active {
      background-color: #f0f0f0;
      color: #77a914;
    }

    svg {
      fill: currentColor;
      width: 1.6em;
      height: 1.6em;
    }
  }
}

.mobileMenu {
  display: none;
  max-height: 0px;

  transform: scaleY(0);

  transition:
    max-height 1s,
    transform 1s;

  &.open {
    max-height: 50vh;
    transform: scaleY(1);
  }

  nav {
    width: 100%;
    height: fit-content;

    ul {
      display: flex;
      flex-direction: column;
      padding-left: 20%;
      padding-bottom: 2rem;
      padding-top: 1rem;
    }

    li {
      padding-bottom: 0.5rem;
    }
    a {
      font-size: x-large;
      color: black;
      font-weight: 500;
      text-transform: uppercase;
    }

    a.active {
      color: #77a914;
    }

    a:hover {
      color: #88b443;
    }
  }
}

/* Media query for screens smaller than 768px */
@media only screen and (max-width: 719px) {
  .mobileMenu {
    display: block;
  }
  /* Styles for smaller screens */
  .mainMenu {
    justify-content: space-between;
    align-items: stretch;

    .mainLogo {
      display: block;
      max-width: calc(100% - 5rem);
    }

    .desktopMenu {
      display: none;
    }
    .mobileBurger {
      display: flex;
    }
    .change_lang {
      display: none;
    }
  }
}

/* Media query for screens between 768px and 1079px */
@media only screen and (min-width: 720px) and (max-width: 1079px) {
  /* Styles for large screens */
  .mainMenu .mainLogoSmall {
    display: block;
  }
  .mainMenu nav {
    width: 70%;
  }
}

/* Media query for screens larger than 1200px */
@media only screen and (min-width: 1080px) {
  .mainMenu .mainLogo {
    display: block;
  }
}
